<div class="w-75 m-auto">
  <div class="d-flex justify-content-between my-2">
    <form (ngSubmit)="onSubmitLoginForm()" [formGroup]="loginForm">
      <div class="form-group">
        <label for="email">Email: </label>
        <input type="email" id="email" formControlName="email">
      </div>
      <div class="form-group">
        <label for="name">Password: </label>
        <input type="password" id="password" formControlName="password">
      </div>
      <button class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
    </form>

    <div class="form-group">
      <div>Token: </div>
      <textarea type="text" id="token" [(ngModel)]='token' rows="3" cols="60" disabled></textarea>
    </div>
  </div>

  <div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="form-group">
        <label for="name">Name: </label>
        <input type="text" id="name" formControlName="name">
      </div>
      <div class="form-group">
        <label for="name">Category: </label>
        <input type="text" id="category" formControlName="category">
      </div>
      <button class="btn" [disabled]="!form.valid" *ngIf="mode !== 'add'" type="button"
        (click)="handleClickAdd()">Switch to Add</button><span *ngIf="mode !== 'add'">| </span>
      <button class="btn btn-primary" [disabled]="!form.valid" style="text-transform: capitalize;">{{mode}}</button>

    </form>

    <button class="btn btn-primary my-2" (click)="handleGetAllProducts()">Get all products</button>
    <div class="list-group">
      <div class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let product of products">
        <div>{{product.name}}</div>
        <div>
          <button type="button" class="btn btn-default" aria-label="Left Align" (click)="handleClickEdit(product)">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-default" aria-label="Left Align" (click)="handleClickDelete(product)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>